<div class="create-post">
      <textarea [(ngModel)]="userPostContent" placeholder="What's on your mind?" ></textarea>
      <button type="button" (click)="createPost()">Post</button>
  </div>
<div class="posts-container">
    @for(post of posts; track post) {
        <div class="post">
            <div class="post-header">
              <img *ngIf="post.user?.picture" [src]="post.user.picture" alt="User Picture" class="user-picture">
              <div class="user-info">
                <strong>{{ post.user?.firstName }} {{ post.user?.lastName }}</strong>
                <span>{{ post.createdAt | date:'short' }}</span>
              </div>
            </div>
            <div class="post-content">
              <p>{{ post.content }}</p>
            </div>
            <div class="post-actions">
                <button (click)="likePost(post._id)">
                  <span>{{ post.likes.length }} Like{{ post.likes.length !== 1 ? 's' : '' }}</span>
                </button>
              </div>
            @if(post.comments.length) {
                <div class="post-comments">
                    <h4>Comments:</h4>
                    @for(comment of post.comments; track comment) {
                        <div class="comment">
                            @if(comment.user.picture) {
                                <img  [src]="comment.user.picture" alt="User Picture" class="user-picture">
                            }
                            
                            <div class="comment-info">
                              <strong>{{ comment.user.firstName }} {{ comment.user.lastName }}</strong>
                              <p>{{ comment.content }}</p>
                              <span>{{ comment.createdAt | date:'short' }}</span>
                            </div>
                          </div>
                    }
                    
                  </div>
            }
            <div class="add-comment">
                  <textarea [(ngModel)]="userComment" placeholder="Add a comment..."></textarea>
                  <button type="button" (click)="addComment(post._id)">Add Comment</button>
             
              </div>
          </div>
    }
    
  </div>
  