<div class="signup-container">
    <form [formGroup]="registerForm">
      <h2>Sign Up</h2>
      
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName">
      </div>
      
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName">
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email">
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password">
      </div>
      
      <button type="button" (click)="onSubmit()">Sign Up</button>
    </form>
    <p (click)="navigateToLogin()">Have already an account ?</p>
  </div>
  